<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799071852422-kp9tdjdng780ru951s2e07vssiclhfr0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799071852422-kp9tdjdng780ru951s2e07vssiclhfr0</string>
	<key>API_KEY</key>
	<string>AIzaSyCmVUXbO6AqVWHDMbU7_4bxHaS0v6q2dvc</string>
	<key>GCM_SENDER_ID</key>
	<string>799071852422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.permamind.app</string>
	<key>PROJECT_ID</key>
	<string>permamind-56882</string>
	<key>STORAGE_BUCKET</key>
	<string>permamind-56882.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799071852422:ios:ec52deae64ea476c067e07</string>
	<key>DATABASE_URL</key>
	<string>https://permamind-56882.firebaseio.com</string>
</dict>
</plist>