<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739862729237-vvh6bhqdecbcdlfbi7u4159elfbk2885.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739862729237-vvh6bhqdecbcdlfbi7u4159elfbk2885</string>
	<key>API_KEY</key>
	<string>AIzaSyBLn6MOtxrc6Fh0TT6a0WF9c9L-q2yQUDE</string>
	<key>GCM_SENDER_ID</key>
	<string>739862729237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.permamind.ios</string>
	<key>PROJECT_ID</key>
	<string>permamind-mobile-2305</string>
	<key>STORAGE_BUCKET</key>
	<string>permamind-mobile-2305.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739862729237:ios:464913347cbd2af1</string>
	<key>DATABASE_URL</key>
	<string>https://permamind-mobile-2305.firebaseio.com</string>
</dict>
</plist>